.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.margen {
  margin: 15% 0 3% 3%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.margenNav {
  margin-left: 5%;
}
.Cart {
  width: 30px;
  border-radius: 20%;
}

.color {
  color: white;
}

/* div#a {
  filter: brightness(1.1);
  mix-blend-mode:multiply;
} */

.marginForm{
  margin-top: 3%;
}

.sectionColor {
  background-color: white;
}

.font {
  font-weight:600;
  font-size:large;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family:sans-serif
}

.cardBackground {
  background-color: #1E1E1E;
}

